* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

.main {
  background-image: url("../imgs/bg.png");
  height: 90%;
  width: 100%;
  padding-top: 100px;
  background-repeat: no-repeat;
}
.main__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1210px;
  margin-left: auto;
  margin-right: auto;
}
.main__header-blog {
  font-family: "Roboto", sans-serif;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 76px;
  height: 40px;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.main__header-blog:hover {
  background-color: white;
  color: #1A0800;
  font-weight: 700;
  cursor: pointer;
}
.main__header-logo1 {
  display: none;
}
.main__text {
  margin-left: 100px;
}
.main__text-slogan {
  margin-top: 110px;
  font-family: "Roboto", sans-serif;
  font-size: 76px;
  color: #1A0800;
}
.main__text-description {
  font-family: "Roboto", sans-serif;
  font-size: 22px;
  color: #1A0800;
  line-height: 37px;
  margin-top: 30px;
  width: 470px;
}
.main__text-request {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #DD9D4C;
  width: 197px;
  height: 56px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.main__text-request:hover {
  background-color: #f6b64c;
  cursor: pointer;
  color: #1A0800;
  font-weight: 700;
}

.sponsors {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.sponsors img {
  margin: 40px 80px;
}
.sponsors img:hover {
  cursor: pointer;
}

.content__1stblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(143, 76, 23, 0.08);
  padding: 105px 0;
}
.content__1stblock__text {
  margin-left: 120px;
}
.content__1stblock__text-slogan {
  font-family: "Roboto", sans-serif;
  font-size: 43px;
  line-height: 56px;
  color: #1A0800;
}
.content__1stblock__text-description {
  margin-top: 31px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: #1A0800;
  opacity: 0.7;
}
.content__1stblock__text-request {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #DD9D4C;
  width: 197px;
  height: 56px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.content__1stblock__text-request:hover {
  background-color: #f6b64c;
  cursor: pointer;
  color: #1A0800;
  font-weight: 700;
}
.content__2ndblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9F6F3;
}
.content__2ndblock__text {
  margin-left: 60px;
  margin-right: auto;
}
.content__2ndblock__text-slogan {
  font-family: "Roboto", sans-serif;
  font-size: 43px;
  line-height: 56px;
  color: #1A0800;
}
.content__2ndblock__text-description {
  margin-top: 31px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: #1A0800;
  opacity: 0.7;
}
.content__2ndblock__text-request {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #DD9D4C;
  width: 197px;
  height: 56px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.content__2ndblock__text-request:hover {
  background-color: #f6b64c;
  cursor: pointer;
  color: #1A0800;
  font-weight: 700;
}
.content__3rdblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(143, 76, 23, 0.08);
  padding: 105px 0;
}
.content__3rdblock__text {
  margin-left: 120px;
}
.content__3rdblock__text-slogan {
  font-family: "Roboto", sans-serif;
  font-size: 43px;
  line-height: 56px;
  color: #1A0800;
}
.content__3rdblock__text-description {
  margin-top: 31px;
  font-family: "Roboto", sans-serif;
  line-height: 27px;
  color: #1A0800;
  opacity: 0.7;
}
.content__3rdblock__text-request {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #DD9D4C;
  width: 197px;
  height: 56px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.content__3rdblock__text-request:hover {
  background-color: #f6b64c;
  cursor: pointer;
  color: #1A0800;
  font-weight: 700;
}
.content__4thblock {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F9F6F3;
  padding-bottom: 180px;
}
.content__4thblock__img {
  margin-left: 120px;
}
.content__4thblock__text {
  margin-top: 204px;
  margin-right: 120px;
}
.content__4thblock__text-slogan {
  font-family: "Roboto", sans-serif;
  font-size: 43px;
  line-height: 56px;
  color: #1A0800;
}
.content__4thblock__text-description {
  margin-top: 31px;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 27px;
  color: #1A0800;
  opacity: 0.7;
}
.content__4thblock__text-request {
  margin-top: 50px;
  font-family: "Roboto", sans-serif;
  color: white;
  background-color: #DD9D4C;
  width: 197px;
  height: 56px;
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-duration: 0.2s;
          transition-duration: 0.2s;
}
.content__4thblock__text-request:hover {
  background-color: #f6b64c;
  cursor: pointer;
  color: #1A0800;
  font-weight: 700;
}

.advantages {
  padding-top: 110px;
  padding-bottom: 135px;
  background-color: #FDFCFB;
}
.advantages__title {
  font-size: 50px;
  font-family: "Roboto", sans-serif;
  color: #1A0800;
  line-height: 58px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.advantages__blocks {
  margin-top: 103px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.advantages__blocks__1stblock {
  width: 326px;
}
.advantages__blocks__1stblock-title {
  margin-top: 23px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #1A0800;
}
.advantages__blocks__1stblock-description {
  margin-top: 5px;
  color: #1A0800;
  font-size: 14px;
  line-height: 27px;
  opacity: 0.7;
  font-family: "Roboto", sans-serif;
}
.advantages__blocks__2ndblock {
  width: 334px;
}
.advantages__blocks__2ndblock-title {
  margin-top: 23px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #1A0800;
}
.advantages__blocks__2ndblock-description {
  margin-top: 5px;
  color: #1A0800;
  font-size: 14px;
  line-height: 27px;
  opacity: 0.7;
  font-family: "Roboto", sans-serif;
}
.advantages__blocks__3rdblock {
  width: 334px;
}
.advantages__blocks__3rdblock-title {
  margin-top: 23px;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  color: #1A0800;
}
.advantages__blocks__3rdblock-description {
  margin-top: 5px;
  color: #1A0800;
  font-size: 14px;
  line-height: 27px;
  opacity: 0.7;
  font-family: "Roboto", sans-serif;
}

.responsibility {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 110px 120px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: rgba(143, 76, 23, 0.3);
}
.responsibility__title {
  color: #1A0800;
  font-family: "Roboto", sans-serif;
  font-size: 43px;
  line-height: 56px;
  width: auto;
}
.responsibility__sustainability {
  width: auto;
}
.responsibility__sustainability__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.responsibility__sustainability__head-title {
  margin-left: 6px;
  font-family: "Roboto", sans-serif;
  color: #1A0800;
}
.responsibility__sustainability-description {
  font-family: "Roboto", sans-serif;
  color: #1A0800;
  opacity: 0.7;
  line-height: 27px;
}
.responsibility__circularity {
  width: auto;
}
.responsibility__circularity__head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.responsibility__circularity__head-title {
  margin-left: 6px;
  font-family: "Roboto", sans-serif;
  color: #1A0800;
}
.responsibility__circularity-description {
  font-family: "Roboto", sans-serif;
  color: #1A0800;
  opacity: 0.7;
  line-height: 27px;
}

.footer {
  background-image: url("../imgs/footer-bg.png");
  background-repeat: no-repeat;
  height: 60%;
}
.footer__text {
  padding-top: 120px;
  padding-left: 120px;
}
.footer__text-description {
  width: 340px;
  line-height: 32px;
  font-family: "Roboto", sans-serif;
  color: white;
  margin-top: 48px;
}
.footer__text-language {
  margin-top: 22px;
}
.footer__text-copyright {
  margin-top: 29px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 12px;
  opacity: 0.6;
  letter-spacing: 0.25px;
}

@media (max-width: 425px) {
  .main {
    width: 100%;
    height: 100%;
    padding-top: 30px;
    background-image: url("https://www.pufikhomes.com/wp-content/uploads/2020/02/wooden-cabin-in-australia-pufikhomes-5.jpg");
  }
  .main__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 30px;
    margin-left: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__header-logo1 {
    display: block;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main__header-logo1 img {
    width: 60px;
  }
  .main__header-logo {
    display: none;
  }
  .main__header-blog {
    width: 80px;
    font-size: 28px;
    height: 52px;
  }
  .main__text {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: 45px;
  }
  .main__text-slogan {
    color: white;
    font-size: 45px;
    margin-top: 30px;
    text-align: center;
  }
  .main__text-description {
    color: white;
    text-align: center;
    width: auto;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 45px;
  }
  .main__text-request {
    margin-top: 70px;
    width: auto;
    height: 65px;
    font-size: 26px;
  }

  .sponsors {
    margin-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .sponsors img {
    margin: 20px 0 20px 0;
  }
  .sponsors-one img {
    width: 170px;
  }
  .sponsors-two img {
    width: 300px;
  }
  .sponsors-three img {
    width: 200px;
  }
  .sponsors-four img {
    width: 80px;
  }

  .content__1stblock {
    padding: 50px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .content__1stblock__text {
    margin: 20px 30px 0 30px;
    text-align: right;
  }
  .content__1stblock__text-request {
    margin-top: 20px;
    width: auto;
    height: 65px;
    font-size: 26px;
  }
  .content__1stblock__img {
    margin-left: 30px;
  }
  .content__1stblock__img img {
    width: 290px;
  }
  .content__2ndblock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content__2ndblock__text {
    margin: 20px 30px 0 30px;
    text-align: left;
  }
  .content__2ndblock__text-request {
    margin-top: 20px;
    width: auto;
    height: 65px;
    font-size: 26px;
  }
  .content__2ndblock__img img {
    width: 320px;
  }
  .content__3rdblock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .content__3rdblock__text {
    margin: 20px 30px 0 30px;
    text-align: right;
  }
  .content__3rdblock__text-request {
    margin-top: 20px;
    width: auto;
    height: 65px;
    font-size: 26px;
  }
  .content__3rdblock__img img {
    width: 314px;
  }
  .content__4thblock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-bottom: 0;
  }
  .content__4thblock__text {
    margin: 20px 30px 0 30px;
    text-align: left;
  }
  .content__4thblock__text-request {
    margin-top: 20px;
    width: auto;
    height: 65px;
    font-size: 26px;
  }
  .content__4thblock__img {
    margin: 0;
  }
  .content__4thblock__img img {
    width: 310px;
  }

  .advantages {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .advantages__title {
    text-align: left;
    margin: 10px 30px 0 30px;
  }
  .advantages__blocks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
  }
  .advantages__blocks__1stblock {
    text-align: center;
    width: auto;
  }
  .advantages__blocks__1stblock-title {
    font-size: 30px;
  }
  .advantages__blocks__1stblock-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .advantages__blocks__1stblock-img img {
    width: 100px;
  }
  .advantages__blocks__2ndblock {
    margin-top: 20px;
    text-align: center;
    width: auto;
  }
  .advantages__blocks__2ndblock-title {
    font-size: 30px;
  }
  .advantages__blocks__2ndblock-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .advantages__blocks__2ndblock-img img {
    width: 100px;
  }
  .advantages__blocks__3rdblock {
    margin-top: 20px;
    text-align: center;
    width: auto;
  }
  .advantages__blocks__3rdblock-title {
    font-size: 30px;
  }
  .advantages__blocks__3rdblock-img {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .advantages__blocks__3rdblock-img img {
    width: 100px;
  }

  .responsibility {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 60px 0;
  }
  .responsibility__title {
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 40px;
  }
  .responsibility__sustainability {
    margin-top: 40px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: left;
  }
  .responsibility__sustainability__head-title {
    font-size: 24px;
  }
  .responsibility__sustainability-description {
    font-size: 20px;
  }
  .responsibility__circularity {
    margin-top: 40px;
    margin-right: 30px;
    margin-left: 30px;
    text-align: left;
  }
  .responsibility__circularity__head-title {
    font-size: 24px;
  }
  .responsibility__circularity-description {
    font-size: 20px;
  }

  .footer {
    background-image: url("https://image.winudf.com/v2/image1/Y29tLkRlc2lnbldvb2RGdXJuaXR1cmUyMDIwLmtkcm9pZF9zY3JlZW5fNV8xNTY1MDI3Nzk3XzAxOQ/screen-5.jpg?fakeurl=1&type=.jpg");
    height: 55%;
  }
  .footer__text {
    padding: 40px 30px;
  }
  .footer__text-description {
    margin-top: 30px;
    width: auto;
  }
}
@media (max-width: 768px) and (min-width: 426px) {
  .main {
    padding-bottom: 30px;
    height: auto;
    padding-top: 40px;
    background-image: url("https://media.4rgos.it/i/Argos/4120-m0014-m007-m050-asym-m008-m022-cosyhome-header-8808606?maxW=768&qlt=75&fmt.jpeg.interlaced=true");
  }
  .main__header {
    margin-right: 30px;
    margin-left: 30px;
  }
  .main__header-logo1 {
    display: none;
  }
  .main__text {
    margin-left: 35px;
  }
  .main__text-slogan {
    margin-top: 35px;
    font-size: 54px;
    color: white;
  }
  .main__text-description {
    color: white;
    margin-top: 15px;
  }
  .main__text-request {
    margin-top: 30px;
  }

  .sponsors img {
    margin: 10px 50px;
  }

  .content__1stblock {
    padding: 50px 0;
  }
  .content__1stblock__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: auto;
  }
  .content__1stblock__img img {
    width: 400px;
  }
  .content__1stblock__text {
    margin-left: 30px;
  }
  .content__1stblock__text-slogan {
    font-size: 35px;
  }
  .content__1stblock__text-description {
    margin-top: 10px;
  }
  .content__1stblock__text-request {
    margin-top: 15px;
  }
  .content__2ndblock__img img {
    width: 305px;
  }
  .content__2ndblock__text {
    margin-left: 40px;
    margin-right: 40px;
  }
  .content__2ndblock__text-slogan {
    font-size: 35px;
  }
  .content__2ndblock__text-description {
    margin-top: 10px;
  }
  .content__2ndblock__text-request {
    margin-top: 15px;
  }
  .content__3rdblock {
    padding: 50px 0;
  }
  .content__3rdblock__img img {
    margin-right: 10px;
  }
  .content__3rdblock__text {
    margin-left: 40px;
  }
  .content__3rdblock__text-slogan {
    font-size: 35px;
  }
  .content__3rdblock__text-description {
    margin-top: 10px;
  }
  .content__3rdblock__text-request {
    margin-top: 15px;
  }
  .content__4thblock {
    padding-bottom: 40px;
  }
  .content__4thblock__img {
    margin-left: 40px;
  }
  .content__4thblock__img img {
    width: 300px;
  }
  .content__4thblock__text {
    margin-top: 0;
    margin-right: 40px;
    margin-left: 40px;
  }
  .content__4thblock__text-slogan {
    font-size: 35px;
  }
  .content__4thblock__text-description {
    margin-top: 10px;
  }
  .content__4thblock__text-request {
    margin-top: 15px;
  }

  .advantages {
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 80px;
    padding-bottom: 100px;
  }
  .advantages__title {
    text-align: center;
  }
  .advantages__blocks {
    margin-top: 60px;
  }
  .advantages__blocks__1stblock {
    width: 280px;
  }
  .advantages__blocks__2ndblock {
    width: 270px;
  }
  .advantages__blocks__3rdblock {
    width: 270px;
  }

  .responsibility {
    padding: 50px 20px;
  }
  .responsibility__title {
    font-size: 40px;
    line-height: 41px;
  }

  .footer {
    background-image: url("https://www.ronenbekerman.com/wp-content/uploads/2021/02/office_close1_ps.jpg");
    height: 50%;
  }
  .footer__text {
    padding-left: 80px;
    padding-top: 80px;
  }
}